<h1>Good morning, <%= @user.name %>!</h1>
<% @newsletter.each do |topic| %>
  <h2><%= topic[0] %></h2>
  <% topic[1].each do |article| %>
    <h3> <%= article.headline %> </h3>
    <p>
      <%= article.body %>
    </p>
  <% end %>
<% end %>
