<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
          font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      }
      .card {
        background-color: white;
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
        color: #4a4a4a;
        max-width: 100%;
        position: relative;
      }

      .card-header {
        background-color: transparent;
        align-items: stretch;
        box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
        display: flex;
      }

      .card-header-title {
        align-items: center;
        color: #363636;
        display: flex;
        flex-grow: 1;
        font-weight: 700;
        padding: 0.75rem 1rem;
      }
      .card-content {
        background-color: transparent;
        padding: 1.5rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
