<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
          font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      }
      .card {
        background-color: white;
        color: #4a4a4a;
        max-width: 100%;
        position: relative;
      }

      .card-header {
        background-color: transparent;
        align-items: stretch;
      }

      .card-header-title {
        align-items: center;
        color: #363636;
        flex-grow: 1;
        font-weight: 700;
      }
      .card-content {
        background-color: transparent;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
